*{
	margin:0px;
	padding:0px;
	font-family:"Raleway";
	box-sizing:border-box;
	scroll-behavior: smooth;
}

body {
	background-color:#d1e5ec;
	overflow-x: hidden;
}

.flex-center{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

.flex-between{
	gap:2px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

#gore {
	display: block;
	text-decoration: none;
	position: fixed;
	z-index: 10;
	right: 40px;
	bottom: 40px;
	width: 35px;
	height: 35px;
	background-color:  #122e7a;	
	padding: 7px 10px;
	border-radius: 50%;
	border: 2px solid #FFFFFF;
}

#gore span {
	color: #FFFFFF;
}

/* NAVIGACIJA */

#poz{
	height:100vh;
	background-image:url("../img/slika.jpg");
	background-size:cover;
	position:relative;
	justify-content: flex-start;
}

#meni{
	height:100px;
    width:100%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	position:absolute;
	top:0;
	left:0;
}

a{
	text-decoration:none;
}

ul li{
	list-style-type:none;
}

.logo{
	width:200px;
	height:150px;
	padding:20px 10px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.logo a img {
    width: 100%;
    padding: 35px 20px 30px 16px;
    background-position: -20% 20%;
    margin-top: 11px;
}

#nav{
	width:40%;
	height:80px;
}

#nav ul{
	display:flex;
	justify-content:space-between;
	gap:7px;
	align-items:center;
	list-style-type:none;
	height:100px;
}

#nav ul li a{
	padding:11px 9px;
	border-radius:25px;
	color:#122e7a;	
	font-weight:490;	
}

#nav ul li a:hover{
	background-color: #c1d9f5;
	color: #FFFFFF;
	font-weight: 800;
}


.plava{
	  color:#c1d9f5;
}

.bela{
	color:#ffffff;
}

#animacija span{
	animation-name:sneg;
	animation-duration:7s;
	margin:0px 200px;	
	position:absolute;
}


@keyframes sneg{
  0%{
	   margin-top:5%;
	   color:blue;
	   }
	   
  100%{
	   margin-top:100%;
	   color:white;
	   }
}



.dg{text-decoration:none;
    padding:5px 10px;
}

.dg:hover{
	color:#FFFFFF;
	font-weight:780;
}

#nav ul li a, .dg, .klik {
  transition: 0.3s;
}


/* POCETNA STRANICA */

#sr{
	height:200px;
	margin-top: 172px;
	margin-bottom:85px;
}

#sr h1{
	color:#feffff;
	font-style: italic;
	font-size:97px;
	font-weight:700;
	letter-spacing:21px;
}
#sr h1 span{
	color:#c1d8f6;
	letter-spacing:24px;
} 

.aktivni{
	background-color:#c1d9f5;
	padding:11px 3px;
	transition:0.3s;
    border-radius:30px;
}

#q{
	height:24px;
}

#q h2{
	color:#FFFFFF;
    text-align:center;
	font-size:22px;
	font-weight: 400;
	padding:1px 120px 320px 120px ;
}

.strela {
	margin-top: 210px;
	font-size: 28px;
	color: #122e7a;
}
	
.drb{
	font-weight:670;
	font-style:italic;
}

#poz2{
    height:600px;
    background-image:url("../img/zkliz.jpg");
    background-size:cover;
	position:relative;
	
} 

#bg{
	width:890px;
	color: #132d7a;
	background-color: rgba(51, 51, 51, 0.6); 
    box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
	line-height:2.3;
	letter-spacing:2px;
}

#bg h2{
	text-align:center;
	color:#FFFFFF;
	line-height:2;
	font-size:22px;	
	font-weight:495;
	padding:26px 25px 5px 25px;
}

.brb{
	font-weight:670;
	font-style:italic;
	color:#c1d9f5;
}

#bait{
    margin: 15px;
}

.klik{
	text-decoration:none;
	border:3px solid #c1d9f5;
	padding:3px 18px;
	background-color:rgba(51, 51, 51, 0.6);
	border-radius:30px;
	color:#F1F1F1;
	font-weight:600;
}

.klik:hover{
	color:#ffffff;
	background-color:#c1d9f5;
	border-radius:30px;
	font-weight:700;
}	

#poz3{
	background-image:url("../img/pozadina.jpg");
	height:100vh;
    background-size:cover;
	position:relative;
	padding-top: 10px;
	justify-content: flex-start;
}

#poz2, #poz3 {
  background-attachment: fixed;
  background-size: cover;
}

#naslovic {
  height: 150px;
	width: 1200px;
	padding: 2px 2px;
	display: flex;
	justify-content: center;
}

#naslovic h2{
	text-align: center;
	color: #132d7a;
	letter-spacing: 5px;
	font-size: 60px;
  font-weight: 400;
}

#opis span {
	font-size: 36px;
	animation-duration: 3s;
	color: #FFFFFF;
}

#opis {
	width: 1200px;
	flex-direction: row;
	display: flex;
	justify-content: center;
}


.crta{
	width: 120px;
	height: 4px;
	border-radius: 10px;
	margin-bottom: 20px;
	background-color: #ffffff;
}

#treneri{
	height: 500px;
	width: inherit;
	gap: 100px;
}

.trener-okvir {
	height: inherit;
	width: 300px;
}

.trener{
	height: inherit;
	width: inherit;
	position: relative;
	border-radius: 25px;
	background-size: cover;
}

.t1 {
	background-image: url('../img/tre3.jpg');
}

.t2 {
	background-image: url('../img/tr5.jpg');
}

.t3 {
	background-image: url('../img/coup2.jpg');
}

.trener-okvir a{
	text-align:center;
	padding:10px;
	font-size: 22px;
	color: #132d7a;
	margin: 5px;
}

.social{
	position:absolute;
	width:160px;
    height:50px;
	background-color: #132d7a;
	border-radius:25px;
	left: calc(50% - 80px);
    bottom:-20px;
    justify-content:center;
	gap: 2px;
}

.social a span {
	color: #c1d9f5;
}

/* AUTOR STRANICA */

#abg {
	margin-top: 220px;
	width: 1000px;
	height: 450px;
	color: #132d7a;
	background-color: rgba(51, 51, 51, 0.6); 
    box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

#levi{
	width: 1200px;
	height: inherit;
	background-image:url("../img/autor.jpg");
	background-size: cover;
	border-radius: 10px;
	padding:20px 40px 30px 20px;
}

#desni {
	height: inherit;
	font-size: 22px;
}

#desni p {
	color: #4B3F3F;
	padding: 10px 20px;
}

#indeks {
	background-color: #DCC7BE;
	width: 90%;
	height: 90%;
	border-radius: 10px;
	padding-top: 60px;
}

#indeks h1 {
	font-size: 24px;
	color: #4B3F3F;
	margin-left: 20px;
	margin-bottom: 5px;
}

/* FOOTER */
#poz4 {
	height: 330px;
	background-color: #c1d9f5;
	flex-direction: row;
}

#poz4 ul li{
	color:#ffffff;
	text-shadow: 0 0 10px #000f36;
}



.crtica {
	width: 4px;
	height: 260px;
	border-radius: 10px;
	background-color: #132d7a;
}

.box {
	width: 33%;
	height: 100%;
	color: #FFFFFF;
	padding: 65px 0px 65px 65px;
}

.box p {
	font-size: 22px;
	font-weight: bold;
	color:#132d7a;
}

.box p span {
	font-size: 20px;
	margin-right: 10px;
}

.box ul li {
	margin: 15px;
	font-size: 18px;
}

.box ul li span {
	margin-right: 5px;
	width: 20px;
}

.box ul li a {
	color: #FFFFFF;
	font-size: 16px;
	border-bottom: 0px solid black;
	transition: 0.2s;
}

.box ul li a:hover {
	border-bottom: 4px solid #132d7a;
}

.box form {
	margin: 0px 0px 0px 14px;
}

.box form label {
	display: block;
	font-size: 20px;
	color: #132d7a;
	width: 340px;
	margin-bottom: 5px;
}

.box form input[type="email"] {
	border: none;
	outline: none;
	padding: 5px 15px 5px 5px;
	border-radius: 25px;
}

.box form input[type="submit"] {
	border: none;
	outline: none;
	background-color: #132d7a;
	color: #FFFFFF;
	padding: 5px 15px 5px 15px;
	border-radius: 25px;
	margin-left: 7px;
	cursor: pointer;
	transition: 0.3s;
}

#submitic:hover {
	padding: 5px 20px 5px 20px;
}


#novosti, #email, #submitic{
	margin-top:1px;
}

#copyright {
	height: 3px;
	text-align: right;
	line-height: 60px;
	color: #132d7a;
	position: relative;
	
}

#copyright p {
	margin-right: 100px;
	margin-top:75px;
}

#drustvene {
	flex-direction: row;
	height: inherit;
	left: 100px;
	margin-left:50px; 
}

#drustvene a span {
	font-size: 20px;
	color: #132d7a;
	margin-right: 10px;
	margin-top:75px;
}

#copyright .logo a img {
    width: 27%;
    background-position: -20% 20%;
	padding:0px;
	margin:76px 106px 0px 220px;
   
}


/* KONTAKT STRANICA */

#kontakt {
	width: 100%;
	height: 580px;
	margin-top: 150px;
	gap: 40px;
}

#kbg {
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	width: 1100px;
	height: 520px;
	background-color: rgba(51, 51, 51, 0.6); 
  box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	margin-left:150px;
}

#klevi {
	margin-top:2px;
	margin-left: 2px;
	width: 700px;
	height: 50px;
}

#klevi form{
	flex-direction:row;

}

#prvaforma{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:flex-start;
	
}

#klevi h1 {
	margin-left: 25px;
	color: #FFFFFF;
	margin-bottom: 10px;
	margin-top:15px;
	font-size: 20px;
}

#klevi form label {
	color:  #c1d9f5;
	margin-bottom:5px;
	font-size: 20px;
	width:230px;
}


#klevi form input[type="text"],#klevi form input[type="phone"], #klevi form input[type="email"] {
	border: none;
	outline: none;
	width: 250px;
	padding: 10px 80px 10px 10px;
	border-radius: 25px;
	margin-bottom: 20px;
}

#klevi form textarea {
	resize: none;
	width: 250px;
	height: 120px;
	padding: 10px;
	border-radius: 25px;
	outline: none;
}

#klevi form input[type="submit"] {
	padding: 7px 90px 7px 90px;
	border-radius: 25px;
	outline: none;
	border: 2px solid #c1d9f5;
	background-color: rgba(0, 0, 0, 0.5);
	color: #c1d9f5;
	margin-top: 30px;
	cursor: pointer;
}


#drugaforma{
	width:150px;
	height:230px;
  margin: -48px 159px 128px 50px;
}

input[type="date"], input[type="time"] {
	width: 225px;
	border-radius: 25px;
	padding: 8px 10px 8px 10px;
	border: none;
	outline: none;
	margin-bottom: 21px;
	margin-top: 5px;
}

#kdesni {
	width: 250px;
	height: 300px;
}

#kdesni a img {
	width: 330px;
	margin:130px 60px 30px 10px;
	border-radius: 10px;
}

/* TERMINI STRANICA */

#uvod {
	margin-top: 330px;
	width: 800px;
	height: 400px;
	color: #FFFFFF;
	font-size: 25px;
	text-align: center;
}

#abg3 {
	margin-top:250px;
	width:820px;
	height:400px;
	color: #132d7a;
	background-color: rgba(51, 51, 51, 0.6); 
    box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}  

table{
    border:2px solid #132d7a ;
    border-radius:13px;
    margin-top:350px;
    background-color:#d3d3d3;
	position:absolute;
	width:810px;
	height:200px;
	padding:25px;
	color:white;
}

#abg1 h1{
	margin-top:-80px;
	font-size:38px;
}
#abg1 caption{
	font-size:30px;
	color:#FFFFFF;
}

td{
	font-size:20px;
	padding:1px;
	background-color:#132d7a;
	border-radius:20px;
}

tr td{

	text-align:center;
	padding:1px;
	color:white;
	background-color:#132d7a; 
	border-radius:5px;
	
}


#abg1 th{
	background-color:#c1d9f5;
	text-shadow: 0 0 10px #000f36;
	border-radius:25px;

}



#rekreativno, #umetnicko, #hokej, #galerija {
	height: 100vh;
}

#rekreativno{
	border-top:4px solid #ffffff;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
  background-color:#d1e5ec;
	background-size: cover;
	position:relative;
}

#levid{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
  height:800px;
	width:400px;
	margin-right:500px;
	position:relative;
	
}


#levia{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
    background-image:url('../img/preslatko.jpg');
	height:300px;
	width:400px;
    background-size:cover;
	position:absolute;
	border-radius:25px;
	margin:1px 1155px 90px 1px;
	
}

#desnid{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
    height:800px;
	width:400px;
	margin-right:500px;
	position:relative;
	
}



#desnia{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
    background-image:url('../img/decaa.jpg');
	height:300px;
	width:400px;
    background-size:cover;
	position:absolute;
	border-radius:25px;
	margin:1px 1px 90px 1155px;
	
}

#rekreativno h2{
	background-color: rgba(51, 51, 51, 0.6); 
    box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.5);
	border-radius:25px;
	padding:13px;
	text-align:center;
	margin:50px 25px 20px 20px;
	width:502px;
	font-size:33px;
	color:white;
	
}

#rekreativno p{
	background-color: rgba(51, 51, 51, 0.6); 
    box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.5);
	border-radius:25px;
	padding:30px;
	text-align:center;
	margin-top:90px;
	width:730px;
	font-size:22px;
	color:white;
}
	
#rekreativno th{
	color:white;
	background-color:#c1d9f5;
	text-shadow: 0 0 10px #000f36;
	border-radius:10px;
	padding:5px;
}

#rekreativno td{
	border-radius:5px;
	text-align:left;
	padding-left:5px;
}


#rekreativno table{
	position:relative;
	z-index:2;
	margin-top:60px;
	background-color: rgba(51, 51, 51, 0.6); 
  box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.5);
	border-radius:25px;
}

#umetnicko{
	margin-top: 100px;
	background-color:#d1e5ec;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#umetnicko h2 {
	background-color: rgba(51, 51, 51, 0.6); 
    box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.5);
	border-radius:25px;
	padding:13px;
	text-align:center;
	margin: 0 auto;
	width:502px;
	font-size:33px;
	color:white;
}

#naslov h2{
	background-color: rgba(51, 51, 51, 0.6); 
    box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.5);
	border-radius:25px;
	padding:13px;
	text-align:center;
	width:562px;
	font-size:33px;
	color:white;
	font-weight:700;
}

#srednji{
	width:1520px;
	height:600px;
	background-color:#d1e5ec;
	padding:10px;
	margin-bottom:50px;
}

.slikica{
	width:730px;
	height:270px;
	background-image:url('../img/pirueta.jpg');
	border-radius:25px;
    margin:2px 89px 290px 10px;
	background-size:cover;
	gap:1px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

#paragraf{
	width:900px;
	height:250px;
	text-align:center;
	background-color: rgba(51, 51, 51, 0.6); 
    box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.5);
	display:flex;
	justify-content:space-between;
	align-items:center;
	font-size:22px;
	color:#ffffff;
	padding:20px;
	border-radius:25px;
	margin:2px 23px 300px 19px;
}

.slikica2{ 
	width:730px;
	height:270px;
	background-image:url('../img/vaga.jpg');
	border-radius:25px;
    margin:1px 3px 295px 80px;
	background-size:cover;
	gap:2px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

#bitno table{
	position:relative;
	z-index:2;
	margin-right:20px;
	margin-top:60px;
	background-color: rgba(51, 51, 51, 0.6); 
  box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.5);
	border-radius:25px;
	margin:-300px 260px 0px 290px;
}

#bitno th{
	color:white;
	background-color:#c1d9f5;
	text-shadow: 0 0 10px #000f36;
	border-radius:10px;
	padding:5px;
}

#bitno td{
	border-radius:5px;
	padding:1px;
	text-align:left;
	padding-left:2px;
}

#hokej{
	background-color:#d1e5ec;
}

#nas h2{
	background-color: rgba(51, 51, 51, 0.6); 
    box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.5);
	border-radius:25px;
	padding:13px;
	text-align:center;
	width:562px;
	font-size:33px;
	color:white;
	font-weight:700;
	margin: 12px 270px 49px 490px;
}

#srednja{
	width:1520px;
	height:600px;
	background-color:#d1e5ec;
	padding:10px;
	margin-bottom:50px;
}

.slicica{
	width:730px;
	height:270px;
	background-image:url('../img/hokejgrupa.jpg');
	border-radius:25px;
  margin:2px 80px 290px 17px;
	background-size:cover;
	gap:1px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

#paragrafi{
	width:1090px;
	height:250px;
	text-align:center;
	background-color: rgba(51, 51, 51, 0.6); 
    box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.5);
	display:flex;
	justify-content:space-between;
	align-items:center;
	font-size:22px;
	color:#ffffff;
	padding:20px;
	border-radius:25px;
	margin:2px 2px 300px 19px;
}

.slikica3{ 
	width:730px;
	height:270px;
	background-image:url('../img/trr.jpg');
	border-radius:25px;
    margin:2px 3px 290px 80px;
	background-size:cover;
	gap:2px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

#bitna table{
	position:relative;
	z-index:2;
	margin-right:20px;
	margin-top:60px;
	background-color: rgba(51, 51, 51, 0.6); 
    box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.5);
	border-radius:25px;
	margin:-300px 260px 500px 400px;
}

#bitna th{
	color:white;
	background-color:#c1d9f5;
	text-shadow: 0 0 10px #000f36;
	border-radius:10px;
	padding:5px;
}

#bitna td{
	border-radius:5px;
	padding:1px;
	text-align:left;
	padding-left:2px;
}



#hala {
	flex-direction: row;
	gap: 40px;
	margin-top: 50px;
}

#hala img {
	height: 300px;
}

#galerija h3 {
	font-size: 36px;
	margin-bottom: 50px;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-bottom:20px;
}

#galerija {
	background-image: url('../img/aj.jpg');
	background-attachment: fixed;
	background-size: cover;
	border-top:4px solid #ffffff;
	height: 850px;
}

#ram{
	background-color: rgba(51, 51, 51, 0.6); 
  box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.5);
	width:1150px;
	height:780px;
	margin: 2px 13px 30px 13px;
	border-radius:25px;
	padding:50px;
}

#galgore {
	height: 40%;
	gap: 30px;
	flex-direction: row;
}

#galdole {
	height: 40%;
	flex-direction: row;
	gap: 30px;
}

#galerija img {
	height: 250px;
	transition: 0.3s;
	background-color: red;
	border-radius: 10px;
	box-shadow: 0px 0px 25px 2px #000000;
}

#galerija img:hover {
	transform: scale(1.03);
}



#aktiv{
	color:#132d7a;
    font-weight:700;
}





	


	


